{% extends 'base.html' %}

{% block head %}
<title>About Page</title>
{% endblock %}

{% block body %}
<main role="main ">
    <div class="jumbotron mt-4">
        <div class="col-sm-8 mx-auto">
            <h1>N. Architector</h1>
            <p>I'm an architect, urban planner and develper based in Barcelona.<br>This blog was made using Flask and
                SQLite for the backend and Bootstrap for the frontend.</p>
            <p>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/nicoarchi/" target="_blank" role="button">
                    <i class="fab fa-linkedin mr-1"></i> Linkedin &raquo;
                </a>
                <a class="btn btn-dark" href="https://github.com/nicoarchi" target="_blank" role="button">
                    <i class="fab fa-github mr-1"></i> GitHub &raquo;
                </a>
            </p>
        </div>
    </div>
</main>
{% endblock %}