{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
<!-- CREATE POST FORM -->
<div class="card mt-3 mb-3 border border-dark" style="background: #e9ecef  ;">
    <div class="card-body">
        <h4>Create New Post</h4>
        <form action="/posts" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name='title' id='title' placeholder="My new post">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" , id="author" placeholder="N. Architector">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" name="content" , id="content" rows="3"></textarea>
            </div>
            <input class="btn btn-dark btn-block" type="submit" value="Post">
        </form>
    </div>
</div>
<hr>
{% for post in posts %}
<!-- SHOW POSTS -->
<div class="card  mb-3 border-0" style="background: #e9ecef ;">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Written by {{ post.author }} on
            {{post.date_posted.strftime('%Y-%m-%d')}}</h6>
        <p class="card-text">{{ post.content }}</p>
        <a href="/posts/delete/{{post.id}}" class="btn btn-danger btn-sm">Delete</a>
        <a href="/posts/edit/{{post.id}}" class="btn btn-success btn-sm">Edit</a>
    </div>
</div>
{% endfor%}
<br>
{% endblock %}